---
layout: default
---

article.syllabus
  hgroup
    h1 {{ course.title }}
    h2 {{ course.subtitle }}

  section.info
  {{#with course.info}}
    table
      tr 
        td Instructor:
        td <a href="mailto:{{ instructor.email }}">{{ instructor.name }}</a>
      {{#each staff}}
      tr
        td {{ isFirst @index }}
        td {{ this }} 
      {{/each}} 
   {{/with}}

   section.email-policy
     h1 Email Policy
     p {{ course.info.emailPolicy }}

   section.objectives
     h1 Objectives
     ul
     {{#each course.objectives}}
       li {{ this }}
     {{/each}}

  section.description
    h1 Description
    {{{ course.description }}}

  section.requirements
  {{#with course.requirements}}
    h1 Requirements
    p {{ description }}

    section.prerequisites
      h1 Prerequisites
      p {{ prerequisites.description }}
      table
      {{#each this.prerequisites.resources}}
        tr
          td {{ this.title }}
          td {{ this.site.name }}
      {{/each}}

     section.assessment
       h1 Assessment
       {{{ assessment.description }}}

     section.deadlines
       h1 Deadlines
       ul
         {{#each assessment.deadlines}}
         li {{@key}}: {{getDate this}}
         {{/each}}
      
      section.resits
      h1 Resits
      p {{ resits }}

      section.appeals
      h1 Appeals
      {{{ appeals }}}
    {{/with}}

  section.schedule
    h1 Schedule
    p {{ course.schedule.disclaimer }}

    {{#each course.schedule.sessions }}
    section.session{{this.order-prop}}
      h1 
        span {{ this.order-prop }} 
        | {{ this.title }}
      section.session-info
        p {{getSessionDate this.order-prop}}, {{ ../course.info.time }}
        p {{ ../course.info.location }}

      table
        {{#each this.readings}}
        tr
          {{#if author }}
          td {{ this.author }}
          {{/if}}
          {{#if authors}}
          {{#each authors}}
          td {{this}}
          {{/each}}
          {{/if}}
          {{#if this.url}}
          td <a href="{{this.url}}">{{ this.title }}</a>
          {{else}}
          td {{ this.title }}
          {{/if}}
          {{#if book}}
          td {{ book.title }}
          {{/if}}
          {{#if site}}
          td {{ site.name }}
          {{/if}}
        {{/each}}
      
      {{#if assignment}}
      section.assignment
        h1 Assignment
        p {{ this.assignment.description }}
        p Deadline: {{ getDate this.assignment.deadline }}
        {{#if this.assignment.result}}
        p Results: <a href="{{this.assignment.result}}">follow link</a>
        {{/if}}
      {{/if}}
  {{/each}}

script(src="./vendor/jquery/jquery.js")
